{% extends "pages/home.html" %}

{% block content %}
  <nav>
    <div class="nav nav-pills mb-3" id="nav-tab" role="tablist">
      <button class="nav-link active"
              id="nav-table-contents-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-table-contents"
              type="button"
              role="tab"
              aria-controls="nav-table-contents"
              aria-selected="true">Table of Contents</button>
      <button class="nav-link"
              id="nav-content-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-content"
              type="button"
              role="tab"
              aria-controls="nav-content"
              aria-selected="false"
              tabindex="-1">Content</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade active show"
         id="nav-table-contents"
         role="tabpanel"
         aria-labelledby="nav-table-contents-tab">
      <h1 class="fw-light mb-4">{{ table_of_contents.title }}</h1>
      <div class="px-5">
        <ul class="list-unstyled">
          <li>
            <a class="text-decoration-none fw-normal"
               href="{{ table_of_contents.secondary_prelims_document_uri }}">Introductory Text</a>
          </li>
          {% for item in table_of_contents.contents %}
            <li>
              <a class="text-decoration-none fw-normal" href="{{ item.document_uri }}">
                {{ item.contents_number }}. {{ item.contents_title }}
              </a>
            </li>
          {% endfor %}
          <li>
            <a class="text-decoration-none fw-normal"
               href="{{ table_of_contents.signature_link_href }}">Signature</a>
          </li>
          <li>
            <a class="text-decoration-none fw-normal"
               href="{{ table_of_contents.note_link_href }}">Explanatory
            Note</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-pane fade"
         id="nav-content"
         role="tabpanel"
         aria-labelledby="nav-content-tab">
      <div class="text-center">
        <p class="fs-3">Statutory Instruments</p>
        <h4>{{ content.number }}</h4>
        <p class="text-uppercase fw-light">{{ content.subject }}</p>
        <h4>{{ content.title }}</h4>
        <div class="row row-cols-2 my-4 mx-5">
          <div class="col fst-italic text-start">Made</div>
          <div class="col fst-italic text-end">{{ content.made_date }}</div>
          <div class="col fst-italic text-start">Coming into force</div>
          <div class="col fst-italic text-end">{{ content.coming_into_force_date }}</div>
        </div>
        <div>
          <p>{{ content.introductory_text }}</p>
        </div>
        <div>
          <p>{{ content.enacting_text }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
