<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'pages:home' %}">Home <span
                            class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Explore our Collections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">New Legislation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help and Guidance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Changes to Legislation</a>
                </li>
            </ul>
        </div>
    </div>
</nav>